html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  align-content: center;
  justify-content: center;
  background-color: rgba(124, 124, 124, 0.514);
  /* display: flex; */
}

#container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90%;
  border: 1px solid;
  gap: 60px;
  justify-content: center;
  align-items: flex-start;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 2px;
  position: relative;
}

.cell {
  width: 40px;
  height: 40px;
  background: #ddd;
  border: 1px solid #444;
  border-radius: 50%;
}

h2 {
  text-align: center;
}

.shipYard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ships {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.ship {
  display: flex;
  cursor: grab;
}

.ship div {
  width: 40px;
  height: 40px;
  background-color: #6b7280;
  border: 1px solid #111827;
}

.ship.dragging {
  opacity: 0.5;
  cursor: grabbing;
}

.dropHover {
  background-color: lightgreen;
  border: 2px dashed #223;
}

nav {
  display: flex;
  background-color: rgb(253, 214, 155);
  height: 10%;
  width: 100%;
}

#Duck {
  height: 100%;
  /*transition: 3s;*/
  transition: all 5s;
}

.duckMoved {
  transform: translateX(1425%);
}

h1 {
  margin:auto;
}

@media (orientation: portrait) {
  #container {
    flex-direction: column;
  }
}