html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  align-content: center;
  justify-content: center;
  background-image: linear-gradient(blue, rgb(0, 0, 77));
  /* display: flex; */
}

#container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90%;
  border: 1px solid;
  gap: 60px;
  justify-content: center;
  align-items: flex-start;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 2px;
  position: relative;
}

.cell {
  width: 40px;
  height: 40px;
  background: #0479ff;
  border: 1px solid #494949;
  border-radius: 50%;
}

h2 {
  text-align: center;
  color: white;
}

.shipYard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ships {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.ship {
  display: flex;
  cursor: grab;
}

.ship div {
  width: 40px;
  height: 40px;
  background-color: #5e5e5e;
  border: 1px solid #111827;
}

.ship.dragging {
  opacity: 0.5;
  cursor: grabbing;
}

.dropHover {
  background-color: lightgreen;
  border: 2px dashed #223;
}

nav {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 10%;
  width: 100%;
  box-shadow: 1px 1px 10px 1px rgb(156, 156, 156);
  /* border-top-right-radius: 50%;
  border-bottom-right-radius: 50%; */
}

#Duck {
  height: 100%;
  /*transition: 3s;*/
  transition: all 5s;
}

.duckMoved {
  transform: translateX(1425%);
}

h1 {
  margin: auto;
}

.enemyShip {
  background-color: #0479ff;
}

.enemyShip.revealed {
  background-color: crimson;
}

.hit {
  background-color: crimson;
  border-radius: 50%;
}

.miss {
  background-color: #022958;
  opacity: 0.7;
}

button {
  background-color: white;
  border: none;
  border-radius: 45%;
  box-shadow: 1px 1px 1px 1px rgb(156, 156, 156);
}

.tracker {
  color: white;
  text-align: center;
}

@media (orientation: portrait) {
  #container {
    flex-direction: column;
  }
}