html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    background-color: rgba(124, 124, 124, 0.514);
    /* display: flex; */
}

#container {
  display: flex;
  align-items: center;
  width: 90%;
  height: 90%;
  border: 1px solid;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
}

.cell {
  width: 30px;
  height: 30px;
  background: #ddd;
  border: 1px solid #444;
}

.player {
  background: blue;
}

@media (orientation: portrait) {
  #container {
    flex-direction: column;
  }
}